.vegetable-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .vegetable-card {
    width: 300px;
  }
  
  mat-card-actions {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  mat-card-actions button {
    margin: 0 4px;
  }
